name: Build and deploy JAR app to Azure Web App - ZargarlikShop

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read # Required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java version
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'microsoft'

      - name: Build with Maven
        run: mvn clean package  # package osonroq va yetarli

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: target/*.jar  # ${GITHUB_WORKSPACE} olib tashlandi

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write # Required for requesting JWT
      contents: read # Required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: java-app
          path: ./   # artifact shu papkaga yuklanadi

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_8F3F1417224A4BA2BEBD71CC2F0CF780 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_D0BE538974B5459FA44B532790EB1099 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E251D8FCDC0B4179B4EBCBE3EFA2C781 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'ZargarlikShop'
          slot-name: 'Production'
          package: '*.jar'  # endi ./ papkadan oladi
